@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div style="margin-top:100px;">
    <img src="https://tamanhhospital.vn/wp-content/uploads/2020/12/banner-trang-chu-pc-1.jpg" alt="Banner trang chủ pc 1" />
    
    <p>-	Tầm nhìn: Bệnh viện Đa khoa Ngã Tư Hồ hướng đến trở thành một cơ sở
    y tế tiên phong trong khu vực, mang lại các dịch vụ khám chữa bệnh hiện đại,
    an toàn và hiệu quả, đáp ứng tốt nhu cầu chăm sóc sức khỏe toàn diện của cộng đồng.</p><br />
    <p>-	Sứ mệnh: Với cam kết cung cấp các dịch vụ y tế chất lượng cao và chi
    phí hợp lý, Bệnh viện Đa khoa Ngã Tư Hồ quy tụ đội ngũ y bác sĩ hàng đầu cùng
    sự đầu tư mạnh mẽ vào trang thiết bị tiên tiến. Chúng tôi nỗ lực mang đến những
    trải nghiệm y tế chuyên nghiệp, tận tâm và tiên tiến cho mọi người dân, góp phần
    cải thiện chất lượng cuộc sống của cộng đồng.</p>
</div>
